<div class="comment-div">
<div class="comment-header-space">
    <div class="comment-header">
        <h2>{{user.username}}</h2>
    </div> 
    <div class="comment-header">
        <h2>{{format_date created_at}}</h2>
    </div>
</div>
<div>
<p class="comment-content">{{comment_txt}}</p>
</div>
</div>