<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <script defer src="../../public/js/script.js"></script> --}}
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <nav>
            {{#if loggedIn}}
            <a href="/" class="button primary">HOME</a>
            <a href="/dashboard" class="button primary">DASHBOARD</a>
            <a href="/" class="button tertiary" id="logout">LOGOUT</a>
            {{else}}
            <a href="/" class="button primary">HOME</a>
             <a href="/login" class="button secondary">LOGIN</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <a href="/" class="link">HOME</a>
    </footer>
    {{#if loggedIn}}
    <script src="/js/logout.js"
    {{/if}}
</body>
</html>