<div>
    <form>
        <h1>LOGIN</h1>
        <div class="form-input login-form">
            <label for='username' class="pad1">USERNAME</label>
            <input type="text" id='username' name="username" class="pad2">
        </div>
        <div class="form-input">
            <label for="password" class="pad1">PASSWORD</label>
            <input type="password" id="'password" name="password" class="pad2">
        </div>
        <div class="pad5">
            <button type="submit" class="button secondary">LOGIN</button>
            <a href="/signup" class="link">Sign Up</a>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>