<div>
    <form class="new-post-form">
        <h1>POST TITLE</h1>
        <div class="form-input">
            <label for='title' class="pad1">Enter Post</label>
            <textarea type="text" id='title' name="title" rows='1' class="pad2"></textarea>
        </div>
        <h1>POST CONTENT</h1>
        <div class="form-input">
            <label for='post-content' class="pad1">Enter Post</label>
            <textarea type="text" id='post-content' name="post-content" rows='2' class="pad2"></textarea>
        </div>
        <div class="pad5">
            <button type="submit" class="button secondary">SUBMIT</button>
             <a href="/"><button type="submit" class="button tertiary">CANCEL</button></a>
        </div>
    </form>
</div>

<script src="../public/js/new-post.js"></script>