<div>
    <form class="signup-form">
        <h1>SIGN UP</h1>
        <div class="form-input">
            <label for='username' class="pad1">USERNAME</label>
            <input type="text" id='username' name="username" class="pad2">
        </div>
        <div class="form-input">
            <label for="password" class="pad1">PASSWORD</label>
            <input type="password" id="'password" name="password" class="pad2">
        </div>

        <div class="pad5">
            <button type="submit" class="button secondary">SIGN UP</button>
            <a href="/login" class="link">Login</a>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>